App {
  font-family: sans-serif;
  
}
/* * {
  margin: 0;
  padding: 0;
} */

.profile-pic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.movie-poster {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 8px;
}
.movie-specs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-container {

  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  
}
.movie-info {
  padding: 3px 20px 10px;

}
.movie-rating {
  font-size: 18px;
  font-weight: 400;
}
.movie-list {
  display: flex;
  flex-direction: column;
  padding: 50px;

}
.movie-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.counter-container {
  display: flex;
  gap: 10px;
}
.counter-container button {
 
  font-size: 19px;
  height: 40px;
  width: 60px;
  color: #fff;
  background-color: green;
  border: none;
  outline: none;
  border-radius: 8px;
}
.counter-container button:nth-child(2) {
  color: #fff;
  background-color: red;
}


.movie_form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 10px;
  padding: 0px 50px;
  
}

.head{
  background-color: grey;
  width:100%;
  
}
.title{
  text-align: center;
}